body {
/*  background-color: #edeef6;*/
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 150%;

 display: flex;
  align-items: center;
 /* justify-content: center;*/
  min-height: 50vh;
  margin-left:100px;
  margin-top:5px;
background: #b7dbe2;  

}

